<<<<<<< HEAD
=======
<<<<<<< HEAD

=======
<<<<<<< HEAD
ando

=======
>>>>>>> c0c5a519fd860587175b3f00189c49c101946dfb
>>>>>>> 6adcaf703c0a175e83141f3eed1552bd6e5db5c6
>>>>>>> 807a9845c13a0c07c7e5d6e2b36395c58d9f0f41
<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
